# --- virtual environments / python libs ---
venv/
env/
.venv/
Lib/
Scripts/
share/
etc/

# --- cache / compiled files ---
__pycache__/
*.py[cod]
*$py.class
*.dll

# --- notebooks checkpoints ---
.ipynb_checkpoints/

# --- data / models ---
data/
datasets/
models/

# --- IDE files ---
.vscode/
.idea/

# --- misc ---
*.log
*.tmp
